* , *:before, *:after{ 
    box-sizing:border-box;  
}

.header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1em;
    /* background-image: url(../../assets/dirt.jpg); */
    background-color: var(--accent-color-1);
    background-position: center;
    background-size: cover;
    color: white; 
    /* background-color: rgba(0, 0, 0, 0.325);    */
}
.icon{
    color: rgb(201, 201, 201);
    font-size: 40px;
    /* background-color: rgba(0, 0, 0, 0.325);  */
    /* padding-left: .25em;   */

}
social-container{
    display: flex;
    gap: .2em;
}