nav{
    position: absolute;
    left: -100%;
    transition: ease-in-out .15s;
}

nav.active{
    display: flex;
    justify-content: space-evenly;
    left: 0%;    
    gap: .5em;
    position: absolute;
    background-color: rgb(41, 41, 41);
    width: 100%;
    padding: 1em;
}

nav>a{
    text-decoration: none;
    color: white;
}