nav{
    display: flex;
    flex-direction: column;
    gap: .5em;
    position: absolute;
    background-color: forestgreen;
    width: 10%;
    padding: 1em;
}

nav>a{
    text-decoration: none;
    color: brown;
}